.logo{
    width: 50px;
}
.icons{
    font-weight: 900;
    
}
.logo,.icons,.close-btn{
    vertical-align: middle;
}
.links li{
    padding-top: 0.5rem;
    cursor:pointer ;
}
body{
    background-color: #0D0D0D;
    color: #f9f6f6 !important;
}
.social-icons,.icons,.close-btn,.open-btn{
    cursor:pointer ;
}
.meal{
    cursor: pointer;
    overflow: hidden;
}
.meal img{
    transition: .5s;
}
.meal-layer{
    width: 100%;
    height: 100%;
    background-color: #f9f6f6ca;
    top: 100%;
    transition: .5s;
    
   
}
.meal:hover .meal-layer {
   
    top: 0;}

.side-nav {
    z-index: 99;  
    background-color:  #0D0D0D;
}

.loading{
    z-index:1000;
}